@font-face{
  font-family: 'FangSongti';
  src: local("simfang"), url("./assets/fonts/simfang.ttf") format("truetype");
}
@font-face {
  font-family: "songtiScBold";
  src: local("songti-sc-bold"), url("./assets/fonts/songti-sc-bold.ttf") format("truetype")
}
@font-face{
  font-family: "songtiScRegular";
  src: local("songti-sc-regular"), url("./assets/fonts/songti-sc-regular.ttf") format("truetype")
}
@font-face {
  font-family: "songtiScLight";
  src: local("songti-sc-light"), url("./assets/fonts/songti-sc-light.ttf") format("truetype")
}

html[lang="zh-CN"] {
  & p, span{
    font-family: "FangSongti" !important;
  }
  & p.light{
    font-family: "songtiScLight" !important;
  }
  & h1, h2, h3, h4{
    font-family: "songtiScBold" !important;
  }
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --primaryBackground: linear-gradient(135deg, hsl(258deg, 39%, 45%) 0%, hsl(262deg, 58%, 35%) 25%, hsl(251deg, 41%, 44%) 50%, hsl(196deg, 68%, 67%) 71%, hsl(241deg, 56%, 72%) 100%);

  --hover-on-white: #dbdbdb;

  --header-height: 90px;

  --font-tiny: 11px;
  --font-m: 16px;
  --font-l: 18px;
  --font-xl: 24px;
  --font-xxl: 32px;

  --primary-btn-color: #de6868;
  --primary-btn-color-hover: #d95050;
  --primary-accent-color: #fec911;
  --primary-border-color: #E0E6ED;

  --primary-radius: 20px;
}


body {
  margin: 0;
  min-height: 100vh;
  background: var(--primaryBackground);
}
#root{
  min-height: calc(100vh - 2rem);
}

a{ 
  text-decoration: none;
}
